<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Sandipani Vidyalaya Rahatgarh</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h2 class="headerh2">Initiative by Govt of Madhya Pradesh</h2>
        <h2 class="headerh1">Welcome to Sandipani Vidyalaya Rahatgarh Distt. Sagar MP </h2>
        <nav class="navigtn">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/academics">Academics</a></li>           
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/teachers">Teachers</a></li>
                <li><a href="/elearning">E-learning</a></li>
                <li><a href="/contact">Contact Us</a></li>
            
                
            </ul>
        </nav>
    </header>

    <section class="intro">
        <h2>Our Mission</h2>
        <p>We aim to provide quality education with a focus on holistic development in Rahatgarh Block of Sagar District. Welcome to our School!</p>
        <h2>Upcoming Building</h2>
        <p>CM Rise Rahatgarh Provides modern teaching facilities in newly created builing. </p>
        <div class="building1"><img src="{{ url_for('static', filename='images/building.jpg') }}" alt="Building"></div>
              
    </section>

<div class="banner">
    "शिक्षा सबसे शक्तिशाली हथियार है जिसका उपयोग आप दुनिया को बदलने के लिए कर सकते हैं।" – नेल्सन मंडेला
</div>

    
    <footer class="footer">       
        <p>This page is developped by Umesh Gupta       |                &copy; 2024 Sandipani Vidyalaya Rahatgarh | All Rights Reserved</p>
    </footer>
</body>
</html>
