<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key Pillars - Sandipani Vidyalaya Rahatgarh</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h2 class="headerh2">Initiative by Govt of Madhya Pradesh</h2>
        <h2 class="headerh1">Welcome to Sandipani Vidyalaya Rahatgarh Distt. Sagar MP </h2>
        <nav class="navigtn">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/academics">Academics</a></li>           
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/teachers">Teachers</a></li>
                <li><a href="/elearning">E-learning</a></li>
                <li><a href="/contact">Contact Us</a></li>
            
            </ul>
        </nav>
    </header>

    <section class="teachers">
        <h2>Our Experienced Teachers</h2>
        <div class="teacher">
            <img src="{{ url_for('static', filename='img/teacher1.jpg') }}" alt="Teacher 1">
            <h3>Mr. Anand Jain</h3>
            <p>Motivational Speaker, 40 years of experience in teaching Students in Primary, Middle, High School</p>
        </div>
        <div class="teacher">
            <img src="{{ url_for('static', filename='img/teacher2.jpg') }}" alt="Teacher 2">
            <h3>Mr. Suresh Patel</h3>
            <p>Principal of CM Rise School with 15 years of dedicated work experience. MSc in Physics.</p>
        </div>
        <div class="teacher">
            <img src="{{ url_for('static', filename='img/teacher3.jpg') }}" alt="Teacher 3">
            <h3>Mr. Naveen Rai</h3><br>
            <p>Teacher of History with a passion for teaching and a master's degree in History Education.</p>
        </div>
        <div class="teacher">
            <img src="{{ url_for('static', filename='img/teacher4.jpg') }}" alt="Teacher 4">
            <h3>Mr. Neeraj Mishra</h3>
            <p>Head of Primary section. Great experienc in managing Primay schook kids. Energitic, Enthusiastic, friendly person</p>
        </div>
    </section>
    

    
    <div class="footer">
   <footer class="footer">       
        <p>This page is developped by Umesh        |                &copy; 2024 Sandipani Vidyalaya Rahatgarh | All Rights Reserved</p>
    </footer>
    </div>
</body>
</html>
